@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap');


/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
    --padding-inline-section: 20px;
}

body{
    font-family: 'Poppins', sans-serif;
    color: var(--primary-text-color);
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

h1{
    font-size: 1.5rem;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}

a{
    text-decoration: none;
    display: inline-block;
}

ul{
    list-style: none;
}

/* Utility Classes */

.small-bold-text{
    font-size: 1rem;
    font-weight: 700;
}

.container{
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
    /* display: flex;
    justify-content: center; */
}

.flex{
    display: flex;
    align-items: center;
}

.hover-link{
    color: var(--primary-text-color);
    
}

.hover-link:hover{
    color: var(--accent-color);
    transition: 0.3s ease-out;
}

.primary-button{
    background-color: var(--accent-color);
    border-radius: 6px;
    font-weight: 550;
    color: white !important;
    padding: 12px 24px;
}

.primary-button:hover{
    box-shadow: 0 0 10px var(--secondary-text-color);
    background-color: var(--accent-color-dark);
    transition: 0.2s ease-out;
}

.secondary-button{
    border: 0.5px solid var(--secondary-text-color);
    padding: 12px 24px;
    border-radius: 6px;
    font-weight: 700;
    color: var(--primary-text-color) !important;
}

.secondary-button:hover{
    border-color: var(--accent-color);
    color: var(--accent-color) !important;
    transition: 0.2s ease-out;
}

/* Top Banner */
.top-banner{
    background-color: #4fb3d4;
    background-image: url(./assets/asset\ 32.png);
    background-size: 300px;
}

.banner-text{
    color: white;
    padding: 15px 30px;
    text-align: center;
}

/* Nav */
.main-nav{
    justify-content: space-between;
    margin-top: 20px;
}

.company-logo img{
    width: 200px;
}

.nav-links{
    flex-basis: 730px;
}

.nav-links ul{
    justify-content: end;
    gap: 40px;
}


/* header */

.header{
    padding: 50px var(--padding-inline-section);
}

.header-section{
    justify-content: center;
    gap: 50px;
}

.header-left{
    max-width: 40vw;
}

.header-left h1{
    margin-top: 20px;
}

.header-right img{
    width: 600px;
}

.get-started-button{
    margin-top: 20px;
}

/* Companies */
.companies-header{
    text-align: center;
    margin-block: 30px;
    color: var(--primary-text-color);
}

.logos{
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    height: 46px;
}

/* Features */


.features-section{
    padding: 80px var(--padding-inline-section) 0;
    background-image: url(./assets/asset\ 34.svg);
    background-repeat: no-repeat;
    background-position: 434px 22px;
}

.features-header{
    text-align: center;
}

.features-area{
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
}

.features-heading-text{
    margin-bottom: 20px;
}

.features-card{
    flex-direction: column;
    gap: 20px;
    max-width: 30%;
    text-align: center;
    margin-top: 35px;
}


/* Big Feature Section */

.big-feature-section{
    margin: 30px var(--padding-inline-section) 0;
}

.big-feature-container{
    gap: 30px;
}

.feature-img img{
    width: 100%;
    background-image: url(./assets/asset\ 34.svg);
    background-repeat: no-repeat;
    background-position: 12px 4px;
}

.featrure-desc{
    flex-direction: column;
    align-items: start;
    gap: 5px;
}


/* Example Section */
.examples-area{
    justify-content: space-between;
    margin-block: 30px;
}

.examples-section{
    padding: 80px var(--padding-inline-section) 0;
}

.example-header{
    text-align: center;
}

.example-heading-text{
    margin-bottom: 20px;
}

.examples-card{
    width: 23%;
    position: relative;
    min-height: 300px;
    background: black;
}

.examples-card:hover{
    box-shadow: 0 0 10px #888;
}

.card-text{
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    color: white;
}

.b-img1{
    background:linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url(./assets/asset\ 36.jpeg);
    background-size: cover;
}

.b-img2{
    background:linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url(./assets/asset\ 37.jpeg);
    background-size: cover;
}

.b-img3{
    background:linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url(./assets/asset\ 38.jpeg);
    background-size: cover;
}

.b-img4{
    background:linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url(./assets/asset\ 39.jpeg);
    background-size: cover;
}

/* cta section */

.cta-section{
    background-color: #183b54;
    padding: 120px var(--padding-inline-section) 80px;
}

.cta-section-container{
    flex-direction: column;
    gap: 30px;
    color: white;
}

.cta-section-container p{
    color: white;
}


/* Footer */

footer{
    padding-block: 80px;
    border-color: #ebf2fa;
}

.link-column{
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.footer-container{
    justify-content: space-between;
}


/* SubFooter */

.subfooter{
    background-color: #B9CDE4;
    height: 64px;
    width: 100%;
    padding: 20px 0 20px 0;
}

.subfooter-container{
    height: 24px;
    width: 870px;
    justify-content: space-between;
}

.social-media{
    width: 100px;
    justify-content: space-between;
}